.gradle
/build/
gradlew
gradlew.bat
/gradle/wrapper/gradle-wrapper.jar
.mvn
*/target
/target/*
.jpb
/*/build/*
/*/out
*/out
*/bin
Run
*.bin
*.lock


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### MAC OS ###
*.DS_Store

/.gradle/
